/**main.css*/
h1, h2, h3{
	color:red;
}
body {
	color: yellow;
	background: radial-gradient(black 15%, transparent 16%) 0 0,
				 	radial-gradient(black 15%, transparent 16%) 8px 8px,
				 	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
				 	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-image: radial-gradient(black 15%, transparent 16%), 
				    radial-gradient(black 15%, transparent 16%), 
				    radial-gradient(rgba(255, 255, 255, 0.0980392) 15%, transparent 20%), 
				    radial-gradient(rgba(255, 255, 255, 0.0980392) 15%, transparent 20%);
    background-position-x: 0px, 8px, 0px, 8px;
    background-position-y: 0px, 8px, 1px, 9px;
    background-size: 16px 16px;
    background-repeat-x: initial, initial, initial, initial;
    background-repeat-y: initial, initial, initial, initial;
    background-attachment: initial, initial, initial, initial;
    background-origin: initial, initial, initial, initial;
    background-clip: initial, initial, initial, initial;
    background-color: #272727;
    background-size: 16px 16px;
}
.social_section{	
  	text-align: right;
    font-size: 20px;
    line-height: 50px;
}
.social_section i {
    margin-left: 20px;
}
.navbar-brand{
	margin-top: -5px;
}
#menu_control {
	font-size: 21px;
}
.btn_detail{
	background: #282828;
	color: red;
}
.content{
	margin-top: 70px;
	color: #277979;
}

